*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
}
#p1{
    left: 6%;
    top: 3%;
    position: absolute;
    font-size: 40px;
}
#top{
    width: 24%;
    height: 8%;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    left: 40%;
    top: 5%;
    display: flex;
    justify-content: space-between;
    font-family: "gilroy";
    font-size: 20px;
}
#login{
    position: absolute;
    left: 80%;
    top: 5.5%;
    font-size: 20px;
}
#sign{
    position: absolute;
    left: 88%;
    top: 4.4%;
    font-size: 20px;
    border: 1px solid white;
    padding: 9px;
    width: 7%;
}
#para{
    position: absolute;
    left: 6%;
    top: 18%;
    font-family: gilroy;
    font-size: larger;
}
#para1{
    position: absolute;
    font-size: 50px;
    left: 37%;
    top: 18%;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
#c{
    position: absolute;
    font-size: 150px;
    left: 80%;
    top: 20% ;
}
#image{
    width: 100%;
    height: 25%;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    top: 45%;
}
#img1{
    width: 25%;
    height: 100%;
    position: absolute;
    left: 40%;
}
#img2{
    width: 25%;
    height: 100%;
    position: absolute;
    left: 10%;
    border-radius: 80px;
}
#img3{
    width: 25%;
    height: 100%;
    position: absolute;
    left: -20%;   
}
#img4{
    width: 7%;
    height: 98%;
    top: 1%;
    position: absolute;
    left: 70%;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;   
}
#img5{
    width: 7%;
    height: 98%;
    top: 1%;
    position: absolute;
    left: 80%;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;    
}
#img6{
    width: 7%;
    height: 98%;
    top: 1%;
    position: absolute;
    left: 93%;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;   
}
#bottom{
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: rgb(36, 32, 32);
    top: 85%;
}
.h{
    position: absolute;
    font-size: 40px;
    color: gray;
    top: 30%;
}
#h1{
    left: 6%;
}
#h2{
    left: 23%;
}
#h3{
    left: 38%;
}
#h4{
    left: 62%;
}
#h5{
    left: 80%;
}